@model Empresa.Dominio.Entidades.EmpresaModelo
<div class="main-content">
    <form action="@Url.Action("Alterar", "Empresa")" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputEmail4">Nome Fantasia</label>
                <input name="nomeFantasia" type="text" class="form-control" value="@Model.NomeFantasia" id="ema">
            </div>
            <div class="form-group col-md-4">
                <label for="cnpj">CNPJ</label>
                <input name="cnpj" type="text" class="form-control" value="@Model.CPNJ" id="cnpj">
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Situacao</label>
                <select disabled name="situacao" id="inputState" class="form-control">
                    <option selected>@ViewBag.Situacao</option>
                </select>
            </div>
            <input type="submit" value="Alterar" class="btn btn-primary" style="width: 86px;   height: 34px;   padding-top: 5px;   margin-top: 35px;">
        </div>
    </form>
</div>